<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Ejisto, a powerful developer assistant
  ~
  ~ Copyright (C) 2010-2011  Celestino Bellone
  ~
  ~ Ejisto is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Ejisto is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util.xsd">

    <context:annotation-config/>

    <import resource="core-context.xml"/>

    <bean id="messageSource"
          class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>messages</value>
            </list>
        </property>
    </bean>

    <bean id="applicationController" class="com.ejisto.core.launcher.ApplicationController" depends-on="dataSource"/>
    <bean id="eventManager" class="com.ejisto.event.EventManager"/>
    <bean id="application" class="com.ejisto.modules.gui.Application" depends-on="settingsManager"/>
    <bean id="settingsManager" class="com.ejisto.modules.conf.SettingsManager"/>

    <bean id="serverController" class="com.ejisto.event.listener.ServerController"/>
    <bean id="logManager" class="com.ejisto.event.listener.LogManager"/>
    <bean id="applicationLoader" class="com.ejisto.event.listener.WebApplicationLoader"/>
    <bean id="errorListener" class="com.ejisto.event.listener.ErrorListener"/>
    <bean id="statusBarLogger" class="com.ejisto.event.listener.StatusBarLogger"/>
    <bean id="fieldChangesListener" class="com.ejisto.event.listener.FieldsUpdateListener"/>
    <bean id="containerInstaller" class="com.ejisto.event.listener.ContainerInstaller"/>


    <util:list id="services" value-type="com.ejisto.services.Service">
        <bean class="com.ejisto.services.shutdown.JettyShutdown"/>
        <bean class="com.ejisto.services.startup.ResourcesInitializer"/>
        <bean class="com.ejisto.services.startup.ApplicationStartup"/>
        <bean class="com.ejisto.services.shutdown.DatabaseDump"/>
    </util:list>

</beans>
